body {
    background-size: cover;
    background-position: center;
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 300px;
    height: auto;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
}

.speedometer {
    margin-bottom: 5px;
    margin-right: 20px;
}

.speed-display {
    font-size: 30px;
    color: #FF0000;
    font-weight: 700;
    margin-right: -20px;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
}

.speed-display .unit {
    font-size: 30px;
    color: #B0B0B0;
    margin-left: 5px;
    text-align: right;
    text-shadow: 0 0 5px rgba(175, 93, 93, 0.3);
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.icon-container img {
    width: 30px;
    height: auto;
    margin-left: 20px;
}

.fuel-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#fuel-icon {
    width: auto;
    height: 30px;
    margin-right: 10px;
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.7));
}

.fuel-bar {
    position: relative;
    width: 100%;
    height: 15px;
    background: linear-gradient(to right, white 40%, rgb(97, 94, 94) 100%);
    overflow: hidden;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.fuel-bar-fill {
    height: 100%;
    width: 45%;
    background: #FF0000;
    border-radius: 0px 0 0 0px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.8), inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}